@model SnigdhaBeautyStudio.Models.BlobContent

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EnquiryViewModel</h4>
    <hr />
   @Html.DisplayFor(model => model.Content)
</div>
<div>
</div>
