@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Snigdha Beauty studio,One the best in Bridal Makeup, HAir Styling,Mehndi and Nail Artists.</p>
</div>
